#export-container {
    display: none;
    margin-bottom: 20px;
}

#editor-descr {
    margin-top: 25px;
}

#editor-descr .far {
    margin-right: 3px;
}

#editor-container {
    display: grid;
    margin-top: -5px;
}

.ace_editor {
    height: 500px;
    width: 800px;
    border: 1px solid #d0d0d0;
    float: left;
}

#download-link {
    display: none;
    margin-top: 20px;
    width: 800px;
    height: 35px;
    color: white;
    background-color: #6ea046;
    border-color: #8e8e8e;
    padding: 5px 15px;
    text-align: center;
}

#download-link:hover {
    background-color: #649141;
    color: white;
    text-decoration: none;
}

#download-link .fas {
    margin-right: 14px;
    color: #375a1a;
}