<div class="project-item" id="{{ id }}">
    <i class="far fa-trash-alt project-delete"></i>
    <div class="click-area">
        <p class="name">{{ name }}</p>

        <div class="tq-len-container">
            <i class="fas fa-clone panel-icon"></i>
            <p class="tq-len">{{ tq_len }}</p>
        </div>

        <div class="rm-count-container">
            <i class="fas fa-dice-four"></i>
            <p class="rm-count">{{ rm_len }}</p>
        </div>

        <p class="date">{{ date }}</p>
    </div>
</div>