{% load staticfiles %}

<html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">

        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">

        <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'js/jquery-dateformat.js' %}"></script>
        <script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/jquery-ui_1-12-1.js' %}"></script>

        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/daimler_main.js' %}"></script>

        <script src="{% static 'js/base.js' %}"></script>

        {% with "CODA" as name%}
            {% block headers %}
            {% endblock %}
        {% endwith %}

        <title>CODA</title>
    </head>

    <body>
        <div id="container">
            <div id="top-bar">
                <i class="fas fa-bars" id="left-panel-hamburger"></i>
                <img src="{% static "img/img_logo_daimler_svg.svg" %}" id="logo" />
                <div id="project-name">
                    <p>Project name</p>
                </div>
                <div class="top-button">
                    <i class="fas fa-plus top-icon" id="new-project-icon"></i>
                    <p>Neues Projekt erstellen</p>
                </div>
                <div class="top-button">
                    <i class="fas fa-chevron-right top-icon"></i>
                    <p>Projekt laden</p>
                </div>
                <div id="top-stick-right">
                    <div class="top-button" id="user-icon">
                        <i class="fas fa-user-circle top-icon"></i>
                        <p>{{ username }}</p>
                    </div>
                    <div class="top-button" id="save-icon">
                        <i class="fas fa-save top-icon"></i>
                        <p>Speichern</p>
                    </div>
                </div>
            </div>

            <div id="panels">
                <div id="left-panel">
                    <p class="panel-header">Optionen</p>
                    <div class="panel-button">
                        <i class="fas fa-plus panel-icon"></i>
                        <p>Teilquelle hinzufügen</p>
                    </div>

                    <p class="panel-header panel-header-distance">Quellen</p>
                    <div class="panel-button panel-button-accented">
                        <i class="far fa-clone panel-icon"></i>
                        <p>Teilquelle A</p>
                    </div>
                    <div class="panel-button panel-button-accented">
                        <i class="far fa-clone panel-icon"></i>
                        <p>Teilquelle B</p>
                    </div>

                    <p class="panel-header panel-header-distance">Teilfusion</p>
                    <div class="panel-button panel-button-accented">
                        <i class="fas fa-project-diagram" id="tq-icon"></i>
                        <p>Regelmodule erstellen</p>
                    </div>

                    <p class="panel-header panel-header-distance">Endfusion</p>
                    <div class="panel-button" id="endfusion-button">
                        <i class="fas fa-angle-double-right panel-icon"></i>
                        <p>Exportieren</p>
                    </div>
                </div>

                <div id="center-panel">
                    {% block content %}
                    {% endblock %}
                </div>

                <div id="right-panel">
                    <p id="rules-header">Regelmodule</p>
                    <div id="add-rule-button">
                        <i class="fas fa-plus panel-icon"></i>
                        <p>Regelmodul erstellen</p>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>