{% load staticfiles %}

{% block headers %}
    <script src="{% static 'js/_import.js' %}"></script>
{% endblock %}

<div id="add-tq-container">
    <div id="namespace" ns="{{ namespace }}"></div>

    <h1>Teilquelle hinzufügen</h1>
    <h3>Strukturierte Dateien als Teilquellen dem Projekt hinzufügen</h3>

    <div id="possible-errors-container">
        <h1><i class="fas fa-exclamation-triangle"></i><span class="filename">Datei</span> konnte nicht geparst werden</h1>
        <div id="descr">
            Bitte stellen Sie sicher, dass
            <span id="syntax"><span class="filename">Datei</span> frei von Syntaxfehlern ist.</span>
            <span id="not-even"><span class="filename">Datei</span> eine eindeutige Anzahl von <i>Keys</i> (bei JSON/XML)
            oder Spalten hat.</span>
        </div>
    </div>

    <div id="file-picker">
        <form id="upload-form" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <p class="error-message" id="parse-error">
                An error ocurred during parsing :(
            </p>

            <div id="input-container">
                <input type="file" name="file" id="file" class="inputfile"/>
                <label for="file" id="file-browser-label">Datei wählen</label>
                <p id="selected-file">No file selected</p>
            </div>

            <div id="sheets-container">
                <p id="sheets-title">Please select data sheets to import from</p>
                <div id="selected-sheets">

                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="upload-button" disabled="true">
                <i class="fas fa-folder-open"></i>
                &nbsp;<span id="button-text">Upload and collect data</span>
            </button>

        </form>
    </div>
</div>