#input-container {
    display: inline-block;
}

#possible-errors-container {
    display: none;
    margin-top: 24px;
    margin-bottom: 8px;
    width: 500px;
    border: 1px solid var(--red-contrast);
    padding: 13px 20px;
    border-radius: 4px;
}

#possible-errors-container h1 {
    font-size: 18px;
    color: var(--red-contrast);
}

#possible-errors-container h1 .fas {
    font-size: 17px;
    margin-right: 10px;
}

#possible-errors-container #descr {
    margin-top: 9px;
    margin-bottom: 4px;
}

#possible-errors-container p {
    font-size: 16px;
}

#file-picker {
    width: 460px;
    float: left;
    margin-top: 20px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#file-browser-label {
    background-color: #000000;
    height: 38px;
    width: 110px;
    padding: 7px 10px;
    cursor: pointer;
    color: white;
    float: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#selected-file {
    background-color: #c8c8c8;;
    padding: 7px 10px;
    float: left;
    width: 350px;
    height: 38px;
}

#file-browser-label:hover {
    background-color: #4b4b4b;
}

#invalid-filetype {
    float: left;
}

#parse-error {
    margin-bottom: 25px;
}

#sheets-container {
    display: none;
}

#sheets-title {
    clear: both;
    margin-top: 18px;
    display: block;
    font-weight: 600;
}

#selected-sheets {
    margin-top: 16px;
    margin-bottom: 15px;
}

.sheet-button {
    width: 100%;
}

.sheet-button:hover {
    color: black;
    background-color: #bfd8c8;
}

.sheet-selected {
    background-color: #69ae58;
    color: white;
}

.sheet-selected:hover {
    background-color: #69ae58;
}

.sheet-button .fas {
    margin-right: 7px;
}


#upload-button {
    margin-top: 10px;
    width: 100%;
}
