#view-tq-container {
    display: none;
}

#name-container {
    width: 420px;
}

#name-container:hover {
    cursor: text;
}

#name-display {
    display: inline-flex;
}

#tq-rename {
    display: none;
    font-size: 36px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 4px;
    height: 56px;
}

#flattened {
    display: none;
    margin-top: 9px;
    margin-left: 0px;
    background-color: #ffeecf;
    padding: 6px 8px 4px;
    font-size: 15px;
}

#flattened .fas {
    margin-right: 5px;
    padding-left: 3px;
    color: #ca983f;
}

#name-display .fas {
    padding-top: 16px;
    margin-left: 11px;
    color: grey;
}

#vis-table {
    min-width: 940px;
    margin-top: 30px;
}

#head-tr th {
    width: 70px;
    border-bottom: 3px solid var(--cyan-lo);
}

.th-width {
    width: max-content
}

.tf-check {
    opacity: 0;
    color: green;
    margin-left: 8px;
    margin-right: 7px;
}

#pagination {
    display: inline-flex;
    margin-top: 5px;
}

#pagination .btn {
    width: 55px;
}

#current-page {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px;
}

#properties {
    margin-top: 50px;
    font-size: 18px;
}

#remove-tq-button {
    display: block;
    margin-top: 20px;
    height: 32px;
    width: 270px;
    border: 1px solid var(--red-contrast);
    background-color: white;
    color: var(--red-contrast);
    padding-top: 3px;
    margin-bottom: 60px;
}

#remove-tq-button:hover {
    color: white;
    background-color: var(--red-contrast);
}

#remove-tq-button .far {
    margin-right: 6px;
}