#project-list {
    margin-top: 30px;
}

.project-item {
    float: left;
    width: 410px;
    border-bottom: 1px solid var(--cyan-primary);
    margin-bottom: 24px;
    margin-right: 20px;
    padding: 10px 16px 7px 12px;
    background-color: #e6e6e6;
}

.project-delete {
    float: right;
    font-size: 17px;
    margin-top: 13px;
}

.project-delete:hover {
    color: var(--red-contrast);
    cursor: pointer;
}

.project-item .name {
    font-weight: 600;
}

.project-item .tq_len-container {
    display: inline-flex;
    font-size: 16px;
    padding-left: 2px;
}

.tq_len-container .tq_len {
    margin-left: 5px;
}

.project-item .date {
    font-size: 14px;
    margin-top: 6px;
}

.project-item .click-area {
    width: 93%;
}

.project-item .click-area:hover {
    cursor: pointer;
}