#project-list {
    margin-top: 30px;
}

#legend-container {
    margin-top: 12px;
    margin-left: 3px;
    font-size: 14px;
}

#legend-container .fas {
    color: #5097ab;
    margin-right: 5px;
}


.project-item {
    float: left;
    width: 410px;
    border-bottom: 1px solid var(--cyan-primary);
    margin-bottom: 24px;
    margin-right: 20px;
    padding: 10px 16px 7px 12px;
    background-color: #e6e6e6;
}

.project-delete {
    float: right;
    font-size: 17px;
    margin-top: 13px;
}

.project-delete:hover {
    color: var(--red-contrast);
    cursor: pointer;
}

.project-item .name {
    font-weight: 600;
    margin-bottom: 4px;
    text-shadow: 0px 1px 1px #8a8a8a3d;
}

.project-item .tq-len-container {
    display: inline-flex;
    font-size: 16px;
    padding-left: 2px;
}

.tq-len-container .fas {
    color: #5097ab;
}

.tq-len-container .tq-len {
    margin-left: 5px;
}

.rm-count-container {
    display: inline-flex;
    font-size: 16px;
    padding-left: 2px;
}

.rm-count-container .fas {
    margin-left: 7px;
    color: #5097ab;
}

.rm-count-container .rm-count {
    margin-left: 7px;
    margin-top: -4px;
}

.project-item .date {
    font-size: 14px;
    margin-top: 6px;
}

.project-item .click-area {
    width: 93%;
}

.project-item .click-area:hover {
    cursor: pointer;
}