:root {
    --cyan-strong: #003340;
    --cyan-primary: #00677f;
    --cyan-lo: #5097ab;

    --grey: #444444;
    --grey-lo: #d6d6d6;

    --red-strong: #440e07;
    --red-mid: #72170c;
    --red-contrast: #850000;

    --orange: #e69123;
    --green: #6ea046;
}

h1 {
    margin-top: 0px;
    margin-bottom: 2px;
}

h3 {
    margin-top: 0px;
    font-size: 23px;
    padding-left: 2px;
}

p {
    margin: 0;
}

#container {

}

#logo {
    width: 114px;
    margin-top: 5px;
    margin-right: 54px;
}

#spinner {
    display: none;
    width: 32px;
    position: absolute;
    margin-left: 10px;
}

#top-bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ededed+0,fefefe+59 */
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ededed 0%, #fefefe 59%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #ededed 0%,#fefefe 59%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #ededed 0%,#fefefe 59%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-bottom: 1px solid #d6d6d6;
    height: 49px;
    display: inline-flex;
    width: 100%;
}

#project-name {
    display: inline-flex;
    margin-left: 1px;
    background-color: white;
    height: fit-content;
    padding: 12px 12px;
}

#project-name p {
    font-size: 15px;
    margin-top: 2px;
}

.top-button {
    display: inline-flex;
    margin-right: -1px;
    padding: 12px 8px;
    padding-right: 22px;
    border-right: 1px solid var(--grey-lo);
    border-left: 1px solid var(--grey-lo);
}

.top-button:hover {
    cursor: pointer;
    background-color: var(--grey-lo);
}

.top-button p {
    font-size: 15px;
    margin-top: 2px;
}

.top-icon {
    font-size: 18px;
    margin-top: 3px;
    width: 32px;
    text-align: center;
    color: var(--cyan-lo);
}

#new-project-icon {
    margin-right: 5px;
}

#save-icon {
    top: 0;
    right: 1px;
    bottom: 0;
    position: absolute;
    height: fit-content;
    border-right: none;
}

#panels {
    display: inline-flex;
}

/* Left Panel */
#left-panel {
    width: 220px;
    background-color: #ededed;
    height: -webkit-fill-available;
    border-right: 1px solid #d6d6d6;
    padding-top: 30px;
}

#left-panel-hamburger {
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 19px;
}

#left-panel-hamburger:hover {
    color: var(--cyan-primary);
    cursor: pointer;
}

.panel-header {
    font-size: 15px;
    margin-left: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}

.panel-header-distance {
    margin-top: 34px;
}

#tq-icon {
    margin-top: 7px;
    font-size: 13px;
}

.panel-button {
    display: inline-flex;
    margin-top: 8px;
    width: 100%;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    padding-left: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--cyan-lo);
    color: white;
}

.panel-button:hover {
    background-color: var(--cyan-primary);
    cursor: pointer;
}

.panel-button-accented {
    background-color: var(--cyan-strong);
}

.panel-icon {
    margin-top: 4px;
}

.panel-button p {
    margin-left: 8px;
    margin-top: 1px;
}

#endfusion-button {
    background-color: var(--green);
}

#endfusion-button:hover {
    background-color: var(--cyan-primary);
}

/* Center Panel */
#center-panel {
    padding-left: 50px;
    padding-top: 32px;
}

/* Right Panel */
#right-panel {
    padding-top: 30px;
    position: absolute;
    width: 280px;
    height: -webkit-fill-available;
    border-left: 1px solid #d6d6d6;
    background-color: #ededed;
    top: 49px;
    right: 0px;
    bottom: 0;
}

#rules-header {
    font-size: 15px;
    margin-left: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}

#add-rule-button {
    display: inline-flex;
    margin-top: 8px;
    width: 100%;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    padding-left: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--cyan-lo);
    color: white;
}

#add-rule-button:hover {
    background-color: var(--cyan-primary);
    cursor: pointer;
}

#add-rule-button p {
    margin-left: 8px;
    margin-top: 1px;
}
