:root {
    --cyan-strong: #003340;
    --cyan-primary: #00677f;
    --cyan-lo: #5097ab;

    --grey: #444444;
    --grey-lo: #d6d6d6;

    --red-strong: #440e07;
    --red-mid: #72170c;
    --red-contrast: #850000;

    --orange: #d58423;
    --green: #6b9841;
}

h1 {
    margin-top: 0px;
    margin-bottom: 2px;
}

h2 {
    margin-top: 0px;
}

h3 {
    margin-top: -2px;
    font-size: 21px;
    padding-left: 2px;
}

p {
    margin: 0;
}

.btn {
    border-radius: 0px;
}

.error-message {
    display: none;
    border: 1px solid #d4b7b7;
    padding: 4px 12px;
    background-color: #ffe5e5;
    color: var(--red-contrast);
}

#container {

}

#spanner {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}

#logo {
    width: 114px;
    margin-top: 5px;
    margin-right: 54px;
}

#logo:hover {
    cursor: pointer;
}

#top-bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ededed+0,fefefe+59 */
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ededed 0%, #fefefe 59%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #ededed 0%,#fefefe 59%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #ededed 0%,#fefefe 59%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    outline: 1px solid #d6d6d6;
    height: 49px;
    display: inline-flex;
    width: 100%;
}

#project-name {
    display: inline-flex;
    background-color: white;
    height: fit-content;
    padding: 12px 19px;
}

#project-rename {
    display: none;
    height: 30px;
    margin-top: -2px;
    font-size: 15px;
    padding-left: 2px;
    border: none;
    border-bottom: 1px solid var(--cyan-primary);
}

#project-rename:focus {
    box-shadow: none;
}

#project-name p {
    font-size: 15px;
    margin-top: 2px;
}

.top-button {
    display: inline-flex;
    margin-right: -1px;
    padding: 12px 8px;
    padding-right: 22px;
    border-right: 1px solid var(--grey-lo);
    border-left: 1px solid var(--grey-lo);
}

.top-button:hover {
    cursor: pointer;
    background-color: var(--grey-lo);
}

.top-button p {
    font-size: 15px;
    margin-top: 2px;
    text-shadow: 0px 1px 1px #8a8a8a3d;
}

.top-icon {
    font-size: 18px;
    margin-top: 3px;
    width: 32px;
    text-align: center;
    color: var(--cyan-lo);
}

#new-project-icon {
    margin-right: 5px;
}

#top-stick-right {
    top: 0;
    right: 1px;
    bottom: 0;
    position: absolute;
    height: fit-content;
    border-right: none;
}

#user-icon {
    border-right: none;
}

#save-icon {

}

#panels {
    display: inline-flex;
    height: 100%;
}

/* Left Panel */
#left-panel {
    width: 220px;
    background-color: #ededed;
    height: -webkit-fill-available;
    border-right: 1px solid #d6d6d6;
    padding-top: 30px;
}

#left-panel-hamburger {
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 19px;
}

#left-panel-hamburger:hover {
    color: var(--cyan-primary);
    cursor: pointer;
}

.panel-header {
    font-size: 16px;
    margin-left: 17px;
    font-weight: 600;
    margin-bottom: 4px;
}

.panel-header-distance {
    margin-top: 34px;
}

#tq-icon {
    margin-top: 7px;
    font-size: 13px;
    color: #63aaff;
}

.panel-button {
    display: inline-flex;
    margin-top: 8px;
    width: 100%;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    padding-left: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #7d7d7d;
    color: white;
}

.panel-button:hover {
    background-color: var(--cyan-primary);
    cursor: pointer;
}

.accented {
    background-color: var(--cyan-strong);
}

.accented-2 {
    background-color: #184b88;
}

.panel-icon {
    margin-top: 4px;
}

.panel-button p {
    margin-left: 8px;
    margin-top: 1px;
    text-shadow: 0px 1px 1px #8a8a8a;
}

#endfusion-button {
    background-color: var(--green);
}

#endfusion-button:hover {
    background-color: var(--cyan-primary);
}

#endfusion-button .fas {
    color: #92da58;
    margin-top: 5px;
}

/* Center Panel */
#center-panel {
    padding-left: 50px;
    padding-top: 32px;
    padding-right: 50px;
    overflow-y: auto;
    overflow-x: auto;
}

/* Right Panel */
#right-panel {
    padding-top: 30px;
    position: absolute;
    width: 280px;
    height: -webkit-fill-available;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    background-color: #fefefe;
    top: 49px;
    right: 0px;
    bottom: 0;
}

#rules-header {
    font-size: 15px;
    margin-left: 17px;
    font-weight: 600;
    margin-bottom: 12px;
}


#add-rule-button {
    display: inline-flex;
    margin-top: 8px;
    width: 100%;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    border-left: none;
    border-right: none;
    padding-left: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--cyan-lo);
    color: white;
}

.open > .dropdown-menu {
    display: grid;
    width: 100%;
    margin-top: 2px;
}

.dropdown-item {
    padding-left: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dropdown-item:hover {
    background-color: #dadada;
    text-decoration: none;
}

#right-panel-title-inline {
    display: inline-flex;
}

#rm-activate-toggle {
    margin-left: 25px;
    font-size: 15px;
}

#toggle-text {
    margin-left: 4px;
}

#add-rule-button:hover {
    background-color: var(--cyan-primary);
    cursor: pointer;
}

#add-rule-button p {
    margin-left: 8px;
    margin-top: 1px;
}

#open-existing-rm .far {
    margin-right: 5px;
}

#rm-list {
    margin-top: 25px;
}

.rm-col-item {
    z-index: 0;
    background-color: #f1f4f7;
    padding: 8px 15px 19px;
    border-top: 1px solid #4992a7;
    border-bottom: 1px solid #4992a7;
    cursor: pointer;
    margin-bottom: 9px;
    height: 49px;
}

.rm-col-item:hover {
    background-color: #eaedf0;
}

.rm-col-item .inline {
    display: inline-flex;
}

.rm-col-item .type {
    color: var(--cyan-primary);
    margin-left: -1px;
    background-color: #d8d8d8;
    padding: 2px 9px;
    border-radius: 4px;
}

.rm-col-item .col-type {
    background-color: #9bc7f3;
    color: black;
}

.rm-col-item .row-type {
    background-color: #f3be9b;
    color: black;
}

.rm-col-item .script-type {
    background-color: #dac259;
    color: black;
}

.rm-col-item .name {
    margin-top: 2px;
    color: var(--cyan-primary);
    margin-left: 9px;
}

.rm-col-item .invalid {
    color: #ce1616;
    font-style: italic;
}

.rm-col-item .rm-delete {
    margin-top: 6px;
}

/* Loading content */
#loading-content-container {
    background-color: #e4e6e8;
    width: 300px;
    padding: 10px;
    border-radius: 6px;
}

#loading-content-container #spinner {
    width: 43px;
    margin-right: 9px;
}

#loading-content-container p {
    font-size: 19px;
    margin-top: 9px;
    text-shadow: 0px 1px 1px #ccccccb5;
}


#footer {
    margin-top: 80px;
    margin-left: 12px;
    font-size: 13px;
    color: #888888;
}

#footer p {
    margin-bottom: 6px;
}