.btn-selected {
    background-color: var(--orange) !important;
}

#row-rm-ui-modal {
    display: none;
    width: 642px;
    position: absolute;
    margin-left: 650px;
    margin-top: 60px;
    border: 1px solid #c5c5c5;
    padding: 12px 16px;
    background-color: white;
    box-shadow: -1px 7px 29px 2px #000000;
    z-index: 1;
}

#row-rm-ui-modal #title {
    font-size: 17px;
    font-weight: 600;
}

#row-rm-ui-modal #close {
    position: absolute;
    right: 21px;
    top: 15px;
    font-size: 18px;
    color: grey;
}

#row-rm-ui-modal #close:hover {
    color: black;
    cursor: pointer;
}

#select-rows-container {
    margin-top: 17px;
}

#when-rows-container {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#add-buttons-inline {
    display: inline-flex;
    margin-top: 13px;
}

#add-row-button {
    display: block;
    padding: 3px 11px;
}

#add-row-button i {
    margin-right: 9px;
}

#add-row-button:hover {
    color: black;
    background-color: #cacaca;
}

#add-or-sep-button {
    display: block;
    padding: 3px 15px;
    margin-left: 7px;
    background-color: #b4d4e2;
}

#add-or-sep-button i {
    margin-right: 7px;
}

#add-or-sep-button:hover {
    color: black;
    background-color: #a8c8d6;
}

.or-sep-container {
    margin-top: 10px;
    display: inline-flex;
}

.or-sep-container .line-l {
    border-top: 2px solid grey;
    width: 257px;
    margin-top: 12px;
    margin-left: 2px;
    margin-right: 7px;
}

.or-sep-container p {
    color: grey;
}

.or-sep-container .line-r {
    border-top: 2px solid grey;
    width: 255px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 7px;
}

.or-sep-container .delete {
    margin-top: 4px;
    font-size: 17px;
    margin-left: 7px;
    cursor: pointer;
}

.or-sep-container .delete:hover {
    color: var(--red-contrast)
}

.when-row-container {
    display: inline-flex;
    max-width: -webkit-fill-available;
}

.when-row-container .pick-col-button {
    width: 220px;
    padding: 3px 20px;
    margin-top: 10px;
    background-color: #037e9a;
}

.when-row-container .pick-col-button:hover {
    background-color: #00677f;
}

.when-row-container .open > .dropdown-menu {
    width: 220px;
}

.when-row-container .pick-col-button i {
    margin-right: 10px;
}

.when-row-container .pick-when-condition {
    min-width: 110px;
    padding: 3px 11px;
    margin-top: 10px;
    margin-left: 7px;
    background-color: #bf602b;
    border-color: #a75222;
}

.when-row-container .pick-when-condition:hover {
    background-color: #ad572a;
}

.when-row-container .pick-when-condition i {
    margin-right: 7px;
}

.when-row-container .when-value {
    height: 32px;
    margin-top: 10px;
    margin-left: 8px;
    width: 216px;
}

.when-row-container .delete {
    margin-top: 17px;
    font-size: 17px;
    margin-left: 13px;
    cursor: pointer;
}

.when-row-container .delete:hover {
    color: var(--red-contrast)
}

#save-button {
    margin-top: 33px;
    width: 100%;
    margin-bottom: 8px;
}

#add-then-button {
    display: block;
    margin-top: 12px;
    padding: 3px 24px;
    background-color: #d4cdc8;
    min-width: 108px;
}

#add-then-button:hover {
    background-color: #c47523;
}

#add-then-button i {
    margin-right: 10px;
    margin-left: -24px;
}

#then-container {
    margin-top: 25px;
}

.add-then-container {
    display: inline-flex;
    max-width: -webkit-fill-available;
}

.add-then-container .pick-col-button {
    width: 220px;
    padding: 3px 20px;
    margin-top: 10px;
    background-color: #ca8634;
    border-color: #d88c00;
}

.add-then-container .pick-col-button:hover {
    background-color: #bc7c30;
}

.add-then-container .open > .dropdown-menu {
    width: 220px;
}

.add-then-container .pick-col-button i {
    margin-right: 10px;
}

.add-then-container .pick-then-condition {
    min-width: 110px;
    padding: 3px 11px;
    margin-top: 10px;
    margin-left: 7px;
    background-color: #bf602b;
    border-color: #a75222;
}

.add-then-container .pick-then-condition:hover {
    background-color: #ad572a;
}

.add-then-container .pick-then-condition i {
    margin-right: 7px;
}

.input-values {

}

.input-values .then-value {
    height: 32px;
    margin-top: 10px;
    margin-left: 8px;
    width: 216px;
}

.input-values .with-value {
    display: none;
    height: 32px;
    width: 216px;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 10px;
}


.add-then-container .delete {
    margin-top: 17px;
    font-size: 17px;
    margin-left: 13px;
    cursor: pointer;
}

.add-then-container .delete:hover {
    color: var(--red-contrast)
}

.add-then-container .cols-dropdown-container {
    width: min-content;
}

.dyncol-value {
    display: none;
    height: 32px;
    margin-top: 7px;
    width: 220px;
    text-align: center;
    border-bottom-color: #ffb862;
}