#script-name-container {
    display: flex;
    width: fit-content;
    margin-left: 1px;
}

#script-name-container .fas {
    font-size: 13px;
    margin-left: 11px;
    margin-top: 6px;
    color: grey;
}

#script-name-container:hover {
    cursor: text;
}

#script-name-container #rename {
    display: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 2px;
    padding-bottom: 0px;
    margin-top: -1px;
    margin-left: 2px;
    padding-top: 0;
    height: 31px;
    font-weight: 600;
    font-size: 17px;
}

.btn-selected {
    background-color: var(--orange) !important;
}

#script-rm-ui-modal {
    display: none;
    width: 860px;
    position: absolute;
    margin-left: 650px;
    margin-top: 60px;
    border: 1px solid #c5c5c5;
    padding: 12px 16px;
    background-color: white;
    box-shadow: -1px 7px 29px 2px #000000;
    z-index: 1;
}

#script-rm-ui-modal #title {
    font-size: 17px;
    font-weight: 600;
}

#script-rm-ui-modal #close {
    position: absolute;
    right: 21px;
    top: 15px;
    font-size: 18px;
    color: grey;
}

#script-rm-ui-modal #close:hover {
    color: black;
    cursor: pointer;
}

.ace_editor {
    height: 300px;
    width: 450px;
    margin-top: 20px;
    border: 1px solid #d0d0d0;
    float: left;
}

#vars-container {
    margin-top: 18px;
    margin-left: 20px;
    float: left;
}

#vars-container #title {
    font-size: 16px;
}

#vars-container #controls {
    display: inline-flex;
    margin-top: 20px;
    width: 100%;
}

#vars-container #validate-button {
    font-size: 14px;
    background-color: var(--green);
    border-color: #5ba221;
    padding-bottom: 4px;
}

#vars-container #validate-button:hover {
    background-color: #5a843c;
}

#vars-container #validate-button i {
    margin-right: 7px;
}

#context-vars {
    color: #dfedff;
    height: 116px;
    min-width: 340px;
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: consolas;
    background-color: #4970a0;
    padding: 7px;
    padding-left: 15px;
}

#context-vars .comment {
    color: #bdd3ef;
}

#output-msgs {
    font-family: consolas;
    font-size: 13px;
    background-color: #dedede;
    min-width: 340px;
    padding: 7px;
    padding-left: 15px;
    margin-top: 6px;
    height: 52px;
    overflow-y: scroll;
}

#script-rm-ui-modal #save-button {
    clear: both;
}